<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <div class="container">
    <h1>Post a new message</h1>
    <form action="/new" method="POST">
        <input type="text" name="user" placeholder="Enter Name" required /><br>
        <input type="text" name="text" placeholder="Enter Message" required /><br>
        <button type="submit">Send</button>
    </form>
    <a href="/">Back to Home</a>
    </div>
</body>
</html>